body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  }
  
  header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  }
  
  header h1 {
  margin: 0;
  }
  
  main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  }
  
  section {
  margin-bottom: 20px;
  }
  
  section h2 {
  margin-top: 0;
  }
  
  ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  }
  
  .btn-3 {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(255, 255, 255)) 0%, rgb((255, 255, 255) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    margin-left: 620px;
    cursor: pointer;
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color: rgb(255, 255, 255);
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }
  
  @import 
  url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
  @import 
  url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
  
  #main {
    width: 100%; padding:0;
  }
  .content-asset p {
    margin:0 auto;
  }
  .breadcrumb {
    display:none;
  }
  
  .margin-top-10 {
    padding-top:10px;
  }
  .margin-bot-10 {
    padding-bottom:10px;
  }
  
  #pagina h1 {
    font-family:'Oswald', sans-serif; 
    font-size:24px; 
    font-weight:400; 
    text-transform: uppercase; 
    color:rgb(255, 255, 255); 
    padding:0; margin:0;
  }
  #pagina h2 {
    font-family:'Oswald', sans-serif; 
    font-size:70px; 
    letter-spacing:10px; 
    text-align:center; 
    color:white; 
    font-weight:400; 
    text-transform:uppercase; 
    z-index:10; 
    opacity:.9;
  }
  #pagina h3 {
    font-family:'Oswald', sans-serif; 
    font-size:14px; 
    line-height:0; 
    font-weight:400; 
    letter-spacing:8px; 
    text-transform: uppercase; 
    color:rgb(255, 255, 255);
  }
  #pagina p {
    font-family:'Source Sans Pro', sans-serif; 
    font-weight:400; 
    font-size:14px; 
    line-height:24px;
  }
  
  
  #pagina .title {
    background: rgb(119, 0, 0); 
    padding: 60px; 
    margin:0 auto; 
    text-align:center;
  }
  #pagina .title h1 {
    font-size:35px; 
    letter-spacing:8px;
  }
  
  
  #pagina .block {
    background: white; 
    padding: 60px; 
    width:820px; 
    margin:0 auto; 
    text-align:justify;
  }
  #pagina .block-gray {
    background: #ffffff;
    padding: 60px;
  }
  #pagina .section-overlay-mask {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: black; 
    opacity: 0.70;
  }
  
  #pagina .um {
    padding-top: 200px; 
    padding-bottom: 200px; 
    overflow: hidden; 
    position: relative; 
    width: 100%; 
    background-image: url(https://www.sp.senac.br/flash/galeria/centro_esportivo/images/01.jpg); 
    background-attachment: fixed; 
    background-size: cover; 
    -moz-background-size: cover; 
    -webkit-background-size: cover; 
    background-repeat: no-repeat; 
    background-position: top center;
  }
  #pagina .dois {
    padding-top: 200px; 
    padding-bottom: 200px; 
    overflow: hidden; 
    position: relative; 
    width: 100%; 
    background-image: url(https://img.jornalcruzeiro.com.br/img/2018/07/13/media/262333_1.jpg); 
    background-attachment: fixed; 
    background-size: cover; 
    -moz-background-size: cover; 
    -webkit-background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
  }
  #pagina .tres {
    padding-top: 200px; 
    padding-bottom: 200px; 
    overflow: hidden; 
    position: relative; 
    width: 100%; 
    background-image: url(https://www.ecp.org.br/wp-content/uploads/2021/02/campoA.jfif); 
    background-attachment: fixed; 
    background-size: cover; 
    -moz-background-size: cover; 
    -webkit-background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
  }
  
  #pagina .line-break {
    border-bottom:1px solid black; 
    width: 150px; 
    margin:0 auto;
  }
  
  @media screen and (max-width: 959px) and (min-width: 768px) {
    #pagina .block {
      padding: 40px; 
      width:620px;
    }
  }
  @media screen and (max-width: 767px) {
    #pagina .block {
      padding: 30px; width:420px;
    }
    #pagina h2 {
      font-size:30px;
    }
    #pagina .block {
      padding: 30px;
    }
    #pagina .um, #pagina .dois, #pagina .tres {
      padding-top:100px; 
      padding-bottom:100px;
    }
  }
  @media screen and (max-width: 479px) {
    #pagina .block {
      padding: 30px 15px; 
      width:290px;
    }
  }