    body {
        background-color: #920909;
    }

    .letra {
        color: #fff;
        position: relative;
        font-size: 120%;
        top: 30px;
        right: 220px;
    }

    .esporte {
        color: #fff;
        position: relative;
        font-size: 115%;
        bottom: 40px;
        font-weight: bold;
        right: 230px;
    }

    .select-esporte {
        width: 200px;
        height: 40px; 
        position: relative; 
        right: 246px;
        bottom: 37px;
    }

    .material {
        color: #fff;
        position: relative;
        font-size: 115%;
        font-weight: bold;
        bottom: 40px;
        right: 110px;
        
    }

    .select-material {
        width: 200px;
        height: 40px; 
        position: relative;
        right: 120px;
        bottom: 37px;
    }

    .terms {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        position: relative;
        bottom: 50px;
        color: #fff;
        right: 70px;
    }

    .terms p {
        position: relative;
        top: 30px;
        right: 130px;
    }


    .termos-container {
        position: relative;
        top: 50px;
        right: 420px;
    }

    .data {
        position: relative;
        top: 70px;
        right: 500px;
    }
    
    .container-hora {
        position: relative;
        bottom: 18px;
        left: 95px;
        display: flex;
    }
    
    .hora {
        margin-right: 10px;
    }

    .section {
        position: relative;
        height: 100vh;
    }

    .section .section-center {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .reserva-form {
        position: relative;
        max-width: 642px;
        width: 100%;
        margin: auto;
        padding: 40px;
        overflow: hidden;
        background-size: cover;
        border-radius: 5px;
        z-index: 20;
        display: flex;
    }

    .reserva-form::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.7);
        z-index: -1;
    }

    .reserva-form .form-header {
        text-align: center;
        position: relative;
        bottom: 200px;
        left: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .reserva-form .form-header h1 {
        font-weight: 600;
        text-transform: capitalize;
        font-size: 30px;
        margin: 0px;
        color: #fff;
    }

    .reserva-form .grupo {
        position: relative;
        margin-bottom: 30px;
    }

    .reserva-form .form-control {
        background-color: rgba(255, 255, 255, 0.2);
        height: 60px;
        padding: 0px 25px;
        border: none;
        border-radius: 40px;
        color: #fff;
        -webkit-box-shadow: 0px 0px 0px 2px transparent;
        box-shadow: 0px 0px 0px 2px transparent;
        -webkit-transition: 0.2s;
        transition: 0.2s;
    }

    .reserva-form .form-control::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    .reserva-form .form-control:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    .reserva-form .form-control::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    .reserva-form .form-control:focus {
        -webkit-box-shadow: 0px 0px 0px 2px #920909;
        box-shadow: 0px 0px 0px 2px #920909;
    }

    .reserva-form input[type="date"].form-control {
        padding-top: 16px;
    }

    .reserva-form input[type="date"].form-control:invalid {
        color: rgba(255, 255, 255, 0.5);
    }

    .reserva-form input[type="date"].form-control+.form-label {
        opacity: 1;
        top: 10px;
    }

    .reserva-form select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .reserva-form select.form-control:invalid {
        color: rgba(255, 255, 255, 0.5);
    }

    .reserva-form select.form-control+.select-arrow {
        position: absolute;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 32px;
        line-height: 32px;
        height: 32px;
        text-align: center;
        pointer-events: none;
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
    }

    .reserva-form select.form-control+.select-arrow:after {
        content: '\279C';
        display: block;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .reserva-form select.form-control option {
        color: #000;
    }

    .reserva-form .form-label {
        position: absolute;
        top: -10px;
        left: 25px;
        opacity: 0;
        color: rgb(255, 255, 255);
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        height: 15px;
        line-height: 15px;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

    .reserva-form .grupo.input-not-empty .form-control {
        padding-top: 16px;
    }

    .reserva-form .grupo.input-not-empty .form-label {
        opacity: 1;
        top: 10px;
    }

    .reserva-form .submit-btn {
        color: #fff;
        background-color: #920909;
        font-weight: 700;
        height: 50px;
        padding: 10px 30px;
        width: 240px;
        border-radius: 40px;
        border: none;
        position: relative;
        right: 57px;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1.3px;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

    .reserva-form .submit-btn:hover,
    .reserva-form .submit-btn:focus {
        opacity: 0.9;
    }

    @media screen and (max-width: 959px) {
        .reserva-form {
            max-width: 421px;
            width: 100%;
            margin: auto;
            padding: 40px;
            overflow: hidden;
            background-size: cover;
            border-radius: 5px;
            z-index: 20;
            display: flex;
        }
    }
